
.App-header {
  background-color: #222;
  height: 35px;
  margin: -10px;
  color: white;
  width: 100%;
  padding: 4px;
}

.App-title {
  font-size: 1.5em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1550px;
}

.four-up {
  display: flex;
}

.four-up>div {
  padding: 20px;
}

.box {
  border: 1px solid;
  overflow: hidden;
  margin-bottom: 10px;
}

.box.medium {
  width: 500px;
  height: 312px;
}

.box.small {
  width: 128px;
  height: 80px;
}

.box.large {
  width: 882px;
  height: 550px;
}