
.App-title {
  font-size: 1.5em;
}

.cb-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 930px;
  cursor: default;
  background: white;
}

.four-up {
  display: flex;
}

.four-up>div {
  padding: 2px;
}

.box {
  width: 500px;
  height: 312px;
  border: 1px solid;
  overflow: hidden;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.view-box {
  position: relative;
}

.view-selection-container {
  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 1;
}

.protein-viewer {
  transform: scale(.5);
  top: -122px;
}

.backpack {
  width: 150px;
}

.population-box {
  display: flex;
  flex-direction: row;
}

.population-box .view-selection-container {
  position: relative;
  left: 9px;
  top: 9px;
}

.population-box .bubble.right,
.population-box .bubble.left {
  margin-left: 150px;
  margin-top: 10px;
}

.population-box .bubble.bottom {
  margin-top: 110px;
}

#env-controls {
  font: initial;
}