
.App-title {
  font-size: 1.5em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 930px;
  cursor: default;
}

.four-up {
  display: flex;
}

.four-up>div {
  padding: 2px;
}

.box {
  width: 500px;
  height: 312px;
  border: 1px solid;
  overflow: hidden;
  margin-bottom: 5px;
}

.view-box {
  position: relative;
}

.view-selection-container {
  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 1;
}

.box.offspring-container {
  position: relative;
  width: 420px;
  height: 530px;
}

.box.offspring-container .offspring-chart{
  width: 250px;
  height: 70px;
  position: absolute;
  left: 61px;
  bottom: 56px;
}

.box.breed-tools {
  width: 420px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.organism-genome {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 6px;
}